<div class="property-container">
  <h2>ALL PROPERTIES LISTINGS</h2>
  <div class="properties">
    <% @properties.each do |property| %>
      <%= render 'property', property: property %>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Property', new_property_path %>
