<% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@property.latt%>, <%=@property.long%>)
    });
    </script>
<% end %>

<div class="show-prop">
  <%= render 'property', property: @property %>
  <div id="map"></div>
</div>
