<%= render "header" %>

<% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@property.latt%>, <%=@property.long%>)
    });
    </script>
<% end %>

<div class="show-prop">
  <%= render 'prop_show', property: @property %>
  <div class="location-header">
    <h5>Location</h5>
  </div>
  <div id="map">
  </div>
</div>
