body{
  position: relative;
  padding: 0;
  overflow-x: hidden;
  margin: 0 !important;
}

/* .main-navigation bar */

.main-nav{
  padding: 3vh 3vw 0  0;
  color: #fff;
  font-weight: bold;
  height: 10vh;
  z-index: 2;
  position: absolute;
  top: 0;
}

.main-nav ul{
  margin: 0;
  padding: 0;
  display: inline-block;
}

.main-nav ul li{
  list-style: none;
  display: inline-block;
  padding-right: 2em;
  height: 1.5em;
  line-height: 1.5em;
}

.main-nav span {
  margin-right: 5vw;
  margin-left: 5vw;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 2em;
}

.main-nav img {
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin-left: 5vw;
}

body > .main-nav{
  color: #000;
}

.home:hover{
  background-color: inherit;
}

.logo i{
  color: rgba(221,174,10,1);
  margin-right: 0.5em;
  font-size: 1.5em;
}

.landing-page{
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.3)
    ),
    url(home.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.heading{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20vh;
}

h1{
  color: #fff;
}

h3{
  margin-bottom: 1vh;
  color: #fff;
}

/* categories */
.category {
  width: 70vw;
  margin: 0 auto;
  height: 10vh;
  background-color: rgba(221,174,10,1);
  margin-top: 15vh;
}

.category-dropdown{
  width: 50%;
  margin-left: 25%;
  height: 70%;
  margin-top: 0.82em;
}

/* properties */

.property-container{
  width: 80%;
  margin: 0 auto;

}

.properties{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
  width: 100%;
}

.property{
  width: 48%;
  height: 30vh;
  text-overflow: clip;
  box-shadow: 5px 10px 18px #888888;
  margin-bottom: 2em;
  border-radius: 2em;
}

.property figure{
  width: 50%;
  height: 100%;
  margin: 0;
  display: inline-block;
}

.property figure img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

h4{
  margin: 0;
}

h2{
  text-align: center;
}

.prop-description{
  width: 45%;
  float: right;
  margin-top: 11%;
}

.more-btn{
  display: inline-block;
  margin-left: 45vw;
  background-color: rgba(221,174,10,1);
  padding: 1em;
  text-decoration: none;
  color: #fff;
  margin-bottom: 1.5em;
  border-radius: 0.5em;
}

.all-properties{
  padding-top: 15vh
}

.pagy-nav{
  font-size: 1.5em;
  cursor: pointer;
}

.pagy-nav a:hover{
  background-color: rgba(221,174,10,1);
  color: #fff;
}
