body{
  position: relative;
  padding: 0;
  overflow-x: hidden;
  margin: 0 !important;
}

/* navigation bar */

nav{
  top: 1.1em;
  z-index: 1;
  color: #fff;
  font-weight: bold;
  height: 3em;
}

nav ul{
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav ul li{
  list-style: none;
  display: inline-block;
  padding-right: 2em;
  height: 1.5em;
  line-height: 1.5em;
}

nav span {
  margin-right: 5vw;
  margin-left: 5vw;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 2em;
}

nav img {
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin-left: 5vw;
}

.logo i{
  color: rgba(221,174,10,1);
  margin-right: 0.5em;
}

.landing-page{
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.3)
    ),
    url(home.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

h1{
  width: 40%;
  margin: 0 auto;
  color: #fff;
}

h3{
  width: 20%;
  margin: 20vh auto 1vh auto;
  color: #fff;
}

/* categories */
.category {
  width: 70vw;
  margin: 0 auto;
  height: 10vh;
  background-color: rgba(221,174,10,1);
  margin-top: 15vh;
}

.category-dropdown{
  width: 50%;
  margin-left: 25%;
  height: 70%;
  margin-top: 0.82em;
}
