<div id='contact'>
  <h3>REACH OUT TO US</h3>
  <div class="contact-contents">
    <form class="" action="index.html" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name" value="" placeholder="Your name">
      <label for="email">Email:</label>
      <input type="text" name="email" value="" placeholder="Your email">
      <label for="message">Message:</label>
      <textarea name="name" rows="8" cols="80" placeholder="Leave us a message"></textarea>
      <input type="submit" name="" class="submit-btn" value="SUBMIT">
    </form>
  </div>

</div>
