<nav class="main-nav">
  <span class="logo"> <a class="home" href="/"><%= fa_icon 'home', class: 'home-icon' %></a> <b>JAWAKI PROPERTIES</b></span>
  <ul>
    <li>HOME</li>
    <li>CATEGORIES</li>
  </ul>
</nav>
