<div class="partner-container">
  <div class="partners">
    <div class="partner">
      <div class="logo">

      </div>
      <div class="partner-name">

      </div>
    </div>

    <div class="partner">
      <div class="logo">

      </div>
      <div class="partner-name">

      </div>
    </div>

    <div class="partner">
      <div class="logo">

      </div>
      <div class="partner-name">

      </div>
    </div>

    <div class="partner">
      <div class="logo">

      </div>
      <div class="partner-name">

      </div>
    </div>
  </div>

</div>
