<% @properties = properties %>

<div class="property-container">
  <h2>Highlighted Properties</h2>
  <% if @properties.any? %>
    <div class="properties">
      <% @properties.each do |property| %>
        <%= render property %>
      <% end %>
    </div>
  <% end %>

</div>
